.div-wrapper> div{
    height: 130px;
    width: 70%;
    box-shadow: 10px 10px 10px 10px grey;
    margin-top:10vh;
    margin-left: 12vw;
    border-top:40px;
    padding: 10px 30px;
}
.NewTodoForm{
    text-align: center;
}
 button{
    height: 40px;
    min-width: 15%;
    width:auto;
    border-radius: 10px;
    background-color:darkolivegreen;
    margin-left:10px;
}
.div-wrapper input{
    height: 30px;
    width: 50%;
    border-radius: 10px;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.complete-container {
    background-color: darkorange;
}
.remove-container{
    background-color: darkslateblue
}